{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>내 프로필</h2>
<div>
    <p>내 정보:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
    <a href="{{ url_for('edit_profile') }}">프로필 수정</a>
</div>
{% endblock %}
